section(data-background-color='#141519')
  h2 S.O.L.I.D. principles:
  ul
    li Single Responsibility Principle
    li Open/Closed Principle
    li Liskov Substitution Principle
    li Interface Segregation  Principle
    li Dependency Inversion  Principle