@import '../../node_modules/reveal.js/css/reveal.css';
@import '../../node_modules/reveal.js/css/theme/blood.css';
@import '../../node_modules/reveal.js/lib/css/monokai.css';

.title {
  color: #fff;
  top: 150px;
  position: relative;
}
.frame {
  width: 100%;
  height: 100vh;
}
.ocp-img {
  width: 400px;
  height: 300px;
}

.ocp-sec {
  // padding-top: 100px;
  display: block !important;
}
